@charset "UTF-8";
/*
 * Base structure
 */
/*微软雅黑*/
/*谷歌、safari、qq浏览器、360浏览器滚动条样式*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 2px;
  height: 5px;
  background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #F5F5F5;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #bdbdbd;
}
/*滑块效果*/
::-webkit-scrollbar-thumb:hover {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  /*background: rgba(0,0,0,0.4);*/
}
/*IE滚动条颜色*/
html {
  scrollbar-face-color: #bfbfbf;
  /*滚动条颜色*/
  scrollbar-highlight-color: #000;
  scrollbar-3dlight-color: #000;
  scrollbar-darkshadow-color: #000;
  scrollbar-Shadow-color: #adadad;
  /*滑块边色*/
  scrollbar-arrow-color: rgba(0, 0, 0, 0.4);
  /*箭头颜色*/
  scrollbar-track-color: #eeeeee;
  /*背景颜色*/
}
body {
  background-color: #fff;
  font-family: arial, "Microsoft Yahei", '微软雅黑';
}
ul,
li {
  list-style: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
#container {
  width: 100%;
  height: 100%;
}
/*header*/
.black-bg {
  background: #f4f4f6;
  border-bottom: 1px solid #565759;
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1002;
}
.header .layui-nav-child dd {
  height: 30px;
  line-height: 30px;
}
.header .layui-nav .layui-this:after,
.header .layui-nav-bar,
.header .layui-nav-tree .layui-nav-itemed:after {
  background-color: #337ab7;
}
/*用户登陆信息*/
.user-info-dropdown {
  position: absolute;
  height: 60px;
  top: 0;
  right: 0;
}
.user-info-dropdown .layui-btn {
  background-color: #333;
  height: 60px;
  border-radius: 0;
}
.user-info-dropdown .icon-user {
  margin-right: 5px;
}
.logo {
  position: relative;
  z-index: 9;
  color: #fff;
  height: 60px;
  line-height: 60px;
  float: left;
  left: 20px;
  width: 300px;
}
.logo i {
  margin-right: 10px;
}
.logo .logo-info {
  margin-left: 10px;
}
.logo img {
  width: 100px;
  height: 26px;
  line-height: 60px;
}
.main-menu {
  left: 200px;
  /*float: left;*/
}
.header,
.footer {
  min-height: 60px;
}
/*sidebar*/
#sidebar {
  width: 210px;
  height: 100%;
  position: fixed;
  background: #424a5d;
}
.sidebar-menu {
  /*专为浏览器中溢出(overflow)时需要滚动的元素设计*/
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  padding-left: 0;
  margin-top: 60px;
  left: -210px;
}
.sidebar-menu iframe {
  height: 100%;
}
#sidebar ul li {
  position: relative;
}
.layui-side {
  width: 210px;
}
.layui-side .layui-nav-tree {
  width: 210px;
}
/*main-content*/
#main-content {
  position: relative;
  margin-left: 10px;
  transition: all 0.1s ease-in;
}
.wrapper {
  display: inline-block;
  margin-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 0px;
  width: 100%;
}
.main-chart {
  padding-top: 20px;
}
/*第三方修饰*/
.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this > a,
.layui-nav-tree .layui-this > a:hover {
  background-color: #337ab7;
  color: #fff;
}
.layui-tab-title .layui-this {
  background-color: rgba(51, 122, 183, 0.15);
}
.layui-form-onswitch i {
  left: 20px;
}
.layui-nav-tree {
  width: 210px;
}
