@media (min-width: 980px) {
  /*-----*/
  .custom-bar-chart {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /*-----*/
  .custom-bar-chart {
    margin-bottom: 40px;
  }
  /*chat room*/
}
@media (max-width: 768px) {
  .main-menu,
  .user-info-dropdown {
    display: none;
  }
  .black-bg {
    background: #337ab7;
  }
  .logo {
    float: none;
  }
}
