<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>珠江经营分析系统</title>


    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/layui.css">
    <!-- endbuild -->
    
    <!--[if IE 7]>
   <link rel="stylesheet" href="styles/font-awesome-ie7.min.css">
   <![endif]-->
   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
     <link rel="stylesheet" href="../css/style-responsive.css">
    <link rel="stylesheet" href="../css/main.css">
    <!-- endbuild -->
  </head>
  <body>

    <div class="layui-side-scroll">
      
    <ul class="layui-nav layui-nav-tree site-demo-nav" lay-filter="left-nav">
  
    <li class="layui-nav-item layui-nav-itemed">
      <a class="javascript:;" href="javascript:;">开发工具<span class="layui-nav-more"></span></a>
      <dl class="layui-nav-child">
        <dd>
          <a href="" data-id="001">调试预览</a>
        </dd>
      </dl>
    </li>
  
  <li class="layui-nav-item layui-nav-itemed">
    <a class="javascript:;" href="javascript:;">基本元素<span class="layui-nav-more"></span></a>
    
    <dl class="layui-nav-child">
      <dd class="">
        <a href="" data-id="066" >按钮组</a>
      </dd>
      <dd class="">
        <a data-id="010" href="">表单集合</a>
      </dd>
      <dd class="layui-this">
        <a data-id="0101" >导航与面包屑</a>
      </dd>
      <dd class="">
        <a href="" data-id="011">选项卡</a>
      </dd>
      <dd class="">
        <a href="" data-id="222" data-tagclick="false">进度条</a>
      </dd>
      <dd class="">
        <a href="" data-id="333" data-tagclick="false">折叠面板</a>
      </dd>
      <dd class="">
        <a href="/" data-id="00034">基本表格</a>
      </dd>
      <dd class="">
        <a href="" data-id="00035">简单辅助元素</a>
      </dd>
    </dl>
  </li>
  
  <li class="layui-nav-item layui-nav-itemed">
    <a class="javascript:;" href="javascript:;">组件示例<span class="layui-nav-more"></span></a>
    <dl class="layui-nav-child">
      <dd class="">
        <a href="" data-id="002">
          <i class="layui-icon" style="top: 3px;"></i><cite>弹出层</cite>
        </a>
      </dd>
       <dd class="">
        <a href="/">
          <i class="layui-icon" style="position: relative; top: 3px;"></i>
          <cite>即时通讯</cite>
        </a>
      </dd>
       <dd class="">
        <a href="/demo/laydate.html" data-id="003">
          <i class="layui-icon" style="top: 1px;"></i><cite>日期时间选择</cite>
        </a>
      </dd>
       <dd class="">
        <a data-id="003">
          <i class="layui-icon"></i><cite>多功能分页</cite>
        </a>
      </dd>
       <dd class="">
        <a href="" data-id="004">
          <i class="layui-icon"></i><cite>模板引擎</cite>
        </a>
      </dd>
       <dd class="">
        <a href="" data-id="005">
          <i class="layui-icon"></i>
          <cite>富文本编辑器</cite>
        </a>
      </dd>
       <dd class="">
        <a href="" data-id="006">
          <i class="layui-icon"></i>
          <cite>文件上传</cite>
        </a>
      </dd>
       <dd class="">
        <a href="" data-id="007">
          <i class="layui-icon"></i>
          <cite>树形菜单</cite>
        </a>
      </dd>
      <dd class="">
        <a href="" data-id="008">
          <i class="layui-icon"></i>
          <cite>工具块</cite>
        </a>
      </dd>
      <dd class="">
        <a href="" data-id="009">
          <i class="layui-icon"></i>
          <cite>流加载</cite>
        </a>
      </dd>
      <dd class="">
        <a href="" data-id="010">
          <i class="layui-icon" style="top: 1px;"></i>
          <cite>代码修饰器</cite>
        </a>
      </dd>
    </dl>
  </li>
  
  <li class="layui-nav-item" style="height: 30px; text-align: center"></li>
     <span class="layui-nav-bar" style="top: 107.5px; height: 0px; opacity: 0;"></span>
   </ul>

    </div>


  </body>
  <!-- build-->
  <script src="../layui.js"></script>
  <script src="../lay/dest/layui.all.js"></script>
<!--   <script src="../scripts/main.js"></script> -->

